<html>
<h1> Log Viewer <a href="http://159.89.172.225/download_logs"><p class="btn btn-primary">Download</p></a>
<a href="http://159.89.172.225/clean_logs"><p class="btn btn-primary">Clear Logs</p></a>
</h1>
{% for line in lines %}
    {{loop.index}} - {{line}} <br>
{% endfor %}
</html>