<html>
<h1> Log Viewer <a href="/"><p class="btn btn-primary">Home</p></a>
    <a href="/clean_server_logs"><p class="btn btn-primary">Clean Logs</p></a></h1>
{% for line in lines %}
    {{loop.index}} - {{line}} <br>
{% endfor %}
</html>